@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');
@import url('header.css');
@import url('varibles.css');
@import url('promo.css');
@import url('main.css');
@import url('stats.css');
@import url('promo2.css');